In [39]:
import pandas as pd
import glob
paths = glob.glob('*outside*')
print(paths)
dfs = []
for path in paths:
    try:
        dfs.append(pd.read_csv(path))
    except UnicodeDecodeError:
        print('here')
        print(path)
# data = pd.read_csv('outside_Hubei.data.16032020T093212.csv')
# data
# data = data[['age', 'city', 'country', 'longitude', 'latitude', 'location', 'country_new']]
# data

['ncov_outside_hubei_20200125 1848.csv', 'ncov_outside_hubei_20200128 0000.csv', 'ncov_outside_hubei_20200130 1911.csv', 'ncov_outside_hubei_20200201 1930.csv', 'ncov_outside_hubei_20200207 0000.csv', 'ncov_outside_hubei_20200221 1900.csv', 'outside_Hubei.data.10032020T083341.csv', 'outside_Hubei.data.12032020T011903.csv', 'outside_Hubei.data.13032020T011120.csv', 'outside_Hubei.data.14032020T011131.csv', 'outside_Hubei.data.15032020T011110.csv', 'outside_Hubei.data.16032020T011832.csv', 'outside_Hubei.data.16032020T093212.csv', 'outside_hubei_20200304 1715 GMT.csv']
here
ncov_outside_hubei_20200128 0000.csv
here
ncov_outside_hubei_20200130 1911.csv
here
ncov_outside_hubei_20200201 1930.csv
here
ncov_outside_hubei_20200207 0000.csv
here
ncov_outside_hubei_20200221 1900.csv
here
outside_hubei_20200304 1715 GMT.csv

In [45]:
big_frame = pd.concat(dfs, ignore_index=True)
big_frame = big_frame[['city', 'country', 'country_new', 'longitude', 'latitude', 'date_onset_symptoms', 'date_admission_hospital', 'date_confirmation']]
pd.to_csv('')

,city,country,country_new,longitude,latitude,date_onset_symptoms,date_admission_hospital,date_confirmation
0,Sydney,Australia,NaN,151.209300,-33.868800,15.01.2020,15.01.2020,25.01.2020
1,Sydney,Australia,NaN,151.209300,-33.868800,24.01.2020,24.01.2020,25.01.2020
2,Sydney,Australia,NaN,151.209300,-33.868800,20.01.2020,20.01.2020,25.01.2020
3,Melbourne,Australia,NaN,144.963100,-37.813600,NaN,24.01.2020,25.01.2020
4,Hefei,China,NaN,117.224844,31.828313,NaN,NaN,22.01.2020
...,...,...,...,...,...,...,...,...
149755,Oakland County,United States,United States,-83.385650,42.660818,NaN,NaN,14.03.2020
149756,Macomb County,United States,United States,-82.932461,42.696325,NaN,NaN,14.03.2020
149757,Monroe County,United States,United States,-83.540953,41.929152,NaN,NaN,14.03.2020
149758,Wayne County,United States,United States,-83.287789,42.284433,NaN,NaN,14.03.2020
149759,Washtenaw County,United States,United States,-83.839439,42.253240,NaN,NaN,14.03.2020